@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-amber-100 text-slate-900 font-semibold px-4 py-2 rounded cursor-pointer;
  }
}

@layer base {

  html {
    scroll-behavior: smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
  p, a {
    @apply font-text;
  }
  label {
    @apply font-text tracking-wide;
  }

  .nav-menu {
    @apply bg-dkmain text-ltmain dark:bg-ltmain dark:text-dkmain top-20 left-0 right-0 w-screen h-screen pt-10
    sm:top-24 lg:bg-ltmain lg:text-dkmain lg:dark:bg-dkmain lg:dark:text-ltmain lg:flex lg:gap-12 lg:h-[30px] lg:mr-20 lg:top-auto lg:left-auto lg:right-auto lg:w-auto lg:pt-0;
  }
  .nav-menu a {
    @apply font-mono text-xl lg:text-base;
  }


  /**/
  .colorshift-bg {
    /* https://www.gradient-animator.com/ */
    background: linear-gradient(10deg, #222, #444, #666);
    background-size: 50% 50%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    -o-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}